# Node.js
node_modules/

# .Net
bin/
obj/
azurite/
azurite/*__.json

#projects
/DachStackTodoExample/bin
/DachStackTodoExample/node_modules
/DachStackTodoExample/obj
Azurite/__azurite_db_blob__.json
Azurite/__azurite_db_blob_extent__.json
Azurite/__blobstorage__/54f047b0-8d60-4ca4-9eb4-ae8dd7015424
Azurite/__azurite_db_blob__.json
Azurite/__azurite_db_blob_extent__.json
Azurite/__azurite_db_blob__.json
Azurite/__azurite_db_blob__.json
Azurite/__azurite_db_blob_extent__.json
Azurite/__azurite_db_blob__.json
Azurite/__azurite_db_blob_extent__.json
