<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="css/site.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">
    <script src="lib/htmx.min.js"></script>
</head>
<body class="p-10 bg-gray-100">
    <!-- <div class="card w-96 bg-base-100 shadow-xl">
        <figure class="figure">
            <img src="./assets/dachlogo.png" alt="Logo" class="w-48 h-48">
        </figure>
    </div> -->
    <figure class="figure">
        <img src="./assets/dachlogo.png" alt="Logo" class="w-10 h-10">
    </figure>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-5">To-Do List</h1>
        <form id="addForm" hx-post="/api/todo" hx-swap="innerHTML" hx-target="#todo-list" hx-headers='{"Content-Type": "text/html"}'>
            <input type="text" name="Task" class="input input-bordered w-full max-w-xs" placeholder="Add new task" required>
            <button type="submit" class="btn btn-primary mt-2">Add Task</button>
        </form>
        <ul id="todo-list" hx-get="api/todo" hx-trigger="load" class="mt-5 space-y-2">
            <!-- To-Do items will be inserted here -->
        </ul>
    </div>
</body>
</html>
<script>
    document.addEventListener('htmx:afterRequest', function(evt){
        console.log("afterRequest:" + evt);
        console.log(evt);
    });
    document.addEventListener('htmx:load', function(evt){
        console.log("load:" + evt);
        console.log(evt);
    });
</script>
