<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Log</title>
    <link href="css/site.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">
    <script src="lib/htmx.min.js"></script>
    <script src="js/chat.js"></script>
</head>
<body>
  <figure class="figure">
    <img src="./assets/dachlogo.png" alt="Logo" class="w-10 h-10">
  </figure>
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-5">Chat Log</h1>
    <ul id="chat-log" hx-get="api/chat" hx-trigger="load" class="mt-5 space-y-2">
      <!-- Chat items will be inserted here -->
    </ul>
    <form id="addForm" hx-post="/api/chat" hx-swap="innerHTML" hx-target="#chat-log" hx-headers='{"Content-Type": "text/html"}'>
        <input type="text" name="Task" class="input input-bordered w-full max-w-xs" placeholder="Add new task" required>
        <button type="submit" class="btn btn-primary mt-2">Add Task</button>
    </form>
</div>
</body>
</html>
<script>
  counter = 0;
  request = 0;
  document.addEventListener('htmx:afterRequest', function(evt){
    request++;
      console.log(request + "afterRequest:");
      console.log(evt);
  });
  document.addEventListener('htmx:load', function(evt){
    counter++;
      console.log(counter + "load:");
      console.log(evt);
  });
</script>
