<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Log</title>
    <link href="css/site.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">
    <script src="lib/htmx.min.js"></script>
    <script src="/js/signalr/dist/browser/signalr.js"></script>
    <script src="js/chat.js"></script>
</head>
<body>
  <figure class="figure">
    <img src="./assets/dachlogo.png" alt="Logo" class="w-10 h-10">
  </figure>
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-5">Chat Log</h1>
    <ul id="messagesList" hx-get="api/chatHub" hx-trigger="" class="mt-5 space-y-2">
      <!-- Chat items will be inserted here -->
    </ul>
    <form id="messageForm" class="flex space-x-2"
      hx-post="/api/chatHub/send"
      hx-trigger="submit"
      hx-include="[name='user'],[name='message']"
      hx-swap="none">
      <p>
        <label>Username:</label>
        <input type="text" name="user" id="user" class="input-primary">
      </p>  
      <p>
        <label>Message:</label>
        <input type="text" name="message" id="message" class="input-secondary">
      </p>
      <button type="submit" id="sendButton" class="btn btn-primary">Send Message</input>
      <!-- Form fields -->
    </form>
</div>
</body>
</html>
<script>
  counter = 0;
  request = 0;

  document.addEventListener('htmx:afterRequest', function(evt){
    request++;
    console.log(request + "afterRequest:");
    console.log(evt);
    clearInput();
  });
  document.addEventListener('htmx:load', function(evt){
    counter++;
    console.log(counter + "load:");
    console.log(evt);
  });
  // Initialize SignalR connection
  const connection = new signalR.HubConnectionBuilder()
    .withUrl("/chatHub")
    .build();
    
    // Start the connection
    connection.start()
    .then(function () {
          console.log("SignalR Connected.");
      })
      .catch(function (err) {
        console.error("Error starting SignalR connection:", err);
      });
      
      connection.on("ReceiveMessage", function (user, message) {
        var messageDiv = document.getElementById("messagesList");
        var newMessage = document.createElement("li");
        newMessage.classList.add("chat", "mb-2");
        
        var chatBubble = document.createElement("div");
        chatBubble.classList.add("chat-bubble");
        chatBubble.innerHTML = "<strong>" + user + ":</strong> " + message;
        
        newMessage.appendChild(chatBubble);
        messageDiv.appendChild(newMessage);
        messageDiv.scrollTop = messageDiv.scrollHeight;
      });
      function clearInput() {
        let messageInput = document.getElementById('message');
        if(messageInput){
          messageInput.value = '';
        }
      };
    </script>

