<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Log</title>
    <link href="css/site.css" rel="stylesheet">
    <link href="css/tailwind.css" rel="stylesheet">
    <script src="lib/htmx.min.js"></script>
    <script src="/js/signalr/dist/browser/signalr.js"></script>
    <script>
      function saveUsername() {
        const username = document.getElementById('user').value;
        localStorage.setItem('username', username);
      }
      function loadUsername() {
        const username = localStorage.getItem('username');
        const messagesList = document.getElementById('messagesList');
        if(username)
        {
          document.getElementById('user').value = username;          
          messagesList.setAttribute('hx-get', `api/chatHub/messages?username=${username}`);
          htmx.process(messagesList);//force re-render
          document.body.dispatchEvent(new Event('usernameLoaded'));
        }
      }
    </script>
</head>
<body>
  <div class="card bg-base-100 w-96 shadow-xl">
    <figure>
      <img src="./assets/dachlogo.png" alt="Logo">
    </figure>
    <div class="card-body">
      <h1 class="card-title">Chat Log</h1>
      <ul id="messagesList" class="mt-5 space-y-2" hx-swap="innerHTML settle:1s" hx-trigger="usernameLoaded from:body">
        <!-- Chat items will be inserted here hx-get="api/chatHub/messages" hx-swap="innerHTML" hx-trigger="load" -->
      </ul>
      <form id="messageForm" class=""
      hx-post="/api/chatHub/send"
      hx-trigger="submit"
      hx-include="[name='user'],[name='message'],[name='room']"
      hx-swap="none">
      <label class="input input-bordered flex items-center gp-2">
        <input type="text" name="room" id="room" class="grow" placeholder="Please, enter room" value="Lobby">
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>
        <input type="text" name="user" id="user" class="grow" placeholder="Username" onblur="saveUsername()">
      </label> 
      <!-- Form fields -->
        <div class="card-actions justify-end">
          <label class="input input-bordered flex items-center gap-2">
            <input type="text" name="message" id="message" class="grow" placeholder="Message">
          </label>
          <button type="submit" id="sendButton" class="btn btn-primary">Send Message</input>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
<script>
  counter = 0;
  request = 0;

  document.addEventListener('DOMContentLoaded', function() {
    console.log("load username")
    loadUsername();
  });
  document.addEventListener('htmx:afterRequest', function(evt){
    request++;
    console.log(request + "afterRequest:");
    console.log(evt);
    clearInput();
  });
  document.addEventListener('htmx:beforeOnLoad', function(evt){
    counter++;
    console.log(counter + "load:");
    console.log(evt);
  });
  // Initialize SignalR connection
  const connection = new signalR.HubConnectionBuilder()
    .withUrl("/chatHub")
    .build();
    
    // Start the connection
    connection.start()
    .then(function () {
          console.log("SignalR Connected.");
      })
      .catch(function (err) {
        console.error("Error starting SignalR connection:", err);
      });
      
      connection.on("ReceiveMessage", function (user, message) {
        var messageDiv = document.getElementById("messagesList");
        var newMessage = document.createElement("li");
        let _user = document.getElementById('user').value;
        newMessage.classList.add("chat", "mb-2");
        if (user === _user)
          newMessage.classList.add("chat-end");
        else
          newMessage.classList.add("chat-start");
        
        var chatBubble = document.createElement("div");
        chatBubble.classList.add("chat-bubble");
        chatBubble.innerHTML = "<strong>" + user + ":</strong> " + message;
        
        newMessage.appendChild(chatBubble);
        messageDiv.appendChild(newMessage);
        messageDiv.scrollTop = messageDiv.scrollHeight;
      });
      function clearInput() {
        let messageInput = document.getElementById('message');
        if(messageInput){
          messageInput.value = '';
        }
      };
    </script>

